.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c1c1c1;
}
.logo >img {
    width: 200px;
}
.logo-container {
    padding: 20px 0px;
}
.nav-items{
   padding: 0px 20px; 
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    text-decoration: none;
}
.nav-items > ul >li{
    padding: 10px;
    margin: 10px;
    
  
}
.nav-items > ul >li > a{
   text-decoration: none;
}
.search{
    padding: 10px;
}
.res-card{
    width: 260px;
    height: 400px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
.restro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.restro-head{
    padding-left: 60px;
}
.res-card:hover{
    border-color: rgb(232, 232, 232);
    box-shadow: rgba(28, 28, 28, 0.12) 0px 0.4rem 1.8rem;
    cursor: pointer;
    border-radius: 5px;
}
.res-logo{
    width: 100%;
    height: 140px;
    border-radius: 5px;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}